logic based practice set

In [1]:
str_ = "123"
str_int = int(str_)

In [2]:
print (type(str_int))

<class 'int'>

In [3]:
str_int + 10

133

In [9]:
flt = 4.89
intu = int(flt)

stri = "89.08"
flou = float(stri)
print (type(stri))

<class 'str'>

In [13]:
string_ = "abcdefghiuo"
count = 0

for i in string_:    
    if i in "aeiou":
        count += 1
print (f"The no. vowels are {count}")

The no. vowels are 5

In [15]:
string_[::-1]

'ouihgfedcba'

## to check whether the given input is pallindrome or not

In [46]:
def pallindrome (maal):
    reverse = inputt[::-1]
    if inputt == reverse:
        print ("The given input is pallindrome.")
    else :
        print ("This ain't pallindrome MF !")

inputt = input ("Enter the shit you wanna check the pallindrome of MF : ")
pallindrome(inputt)

Enter the shit you wanna check the pallindrome of MF :  8998

The given input is pallindrome.

In [20]:
lsit = []
lsit.append("rajesh ki ghanti")

In [21]:
print (lsit)

['rajesh ki ghanti']

In [22]:
setu = set(lsit)

In [23]:
print (setu)
print (type(setu))

{'rajesh ki ghanti'}
<class 'set'>

In [26]:
setu.add(45)
setu.add(45)
setu.add(78)
setu.add(90)

In [27]:
print (setu)

{90, 45, 'rajesh ki ghanti', 78}

In [35]:
no = int (input ("enter the no. of rows of stars you wanna print : "))
for i in range (1, no +1 ):
    for j in range (i):
        print ('*', end = '')
    print ()

enter the no. of rows of stars you wanna print :  10

*
**
***
****
*****
******
*******
********
*********
**********

In [47]:
number = int (input ("Enter the no. "))

if number <= 1:
    print ("The no. is not prime.")
else :
    for i in range (2, number):
        if number % i == 0:
            print ("The no. is not prime.")
            break
    else :
            print ("The no. is prime.")

Enter the no.  88

The no. is not prime.

In [58]:
op = [56, 56, 78, 1]
op.sort()
op

[1, 56, 56, 78]

In [44]:
topi = set(op)
print (topi)

{56, 'Vedansh', 'Tejaswi', 78}

In [54]:
def multiplication (*args):
    result = 1
    for digits in args:
        result *= digits
    return result

print (multiplication(1, 2, 3, 4, 5))

120

In [63]:
sumo = [4, 6, 7, 7, 6, 7, 8 ,8, 10, 89 ]
result = 0
for i in sumo:
    result += i
print (result)

152

In [64]:
99 in sumo

False

In [65]:
for i in sumo :
    if i % 2 == 0:
        print (i)

4
6
6
8
8
10

In [66]:
sumo.append("vedansh")

In [67]:
sumo.remove("vedansh")

In [68]:
sumo

[4, 6, 7, 7, 6, 7, 8, 8, 10, 89]

In [69]:
sumo.reverse()

In [70]:
sumo

[89, 10, 8, 8, 7, 6, 7, 7, 6, 4]

In [71]:
len(sumo)

10

In [78]:
def check_empty (list1):
    if len(list1) == 0:
        return "The list is empty"
    else:
        return "The list not empty"

vedansh = []
print (check_empty(sumo))
print (check_empty(vedansh))

The list not empty
The list is empty

In [79]:
sumo

[89, 10, 8, 8, 7, 6, 7, 7, 6, 4]

In [80]:
sumo.count(8)

2

In [81]:
sumo.append(-3)
sumo.append(-10)
sumo.append(-77)

In [82]:
sumo

[89, 10, 8, 8, 7, 6, 7, 7, 6, 4, -3, -10, -77]

In [85]:
for i in range(len(sumo)):
    if sumo[i] <0:
        sumo[i] = 0

In [86]:
sumo

[89, 10, 8, 8, 7, 6, 7, 7, 6, 4, 0, 0, 0]

In [87]:
op = [89, 90, 77, "ved"]
sumo.extend(op)

In [88]:
sumo

[89, 10, 8, 8, 7, 6, 7, 7, 6, 4, 0, 0, 0, 89, 90, 77, 'ved']

In [1]:
cars = ["tata sumo", "sukuna kumamri"]

In [3]:
cars.index("tata sumo")

0

In [4]:
squares = [x*x for x in range (1,100)]

In [5]:
print (squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

In [6]:
even = [x for x in range (1,100) if x % 2 == 0 ]

In [8]:
print (even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

## Given a string "Hello, world! Hello, Python!", replace "Hello" with "Hi" and find the position of "Python" in the modified string.

In [18]:
stri = "Hello, world! Hello, Python!" 
stri = stri.replace("Hello","Hi")
print (stri.index("Python"))
print (stri)

15
Hi, world! Hi, Python!

## Write a program that takes a sentence, splits it into words, and then joins the words back using a "-" separator.

In [28]:
op = "rajesh ki ghnti"
op = op.split()
op = "-".join(op)
print (op)

rajesh-ki-ghnti

## Given the string "PythonProgramming", extract the substring "Python", "Programming", and print every alternate character from the full string.

In [30]:
op = "PythonProgramming"
part1 = op[0:6]
part2 = op[6:] # till end
alternative = op[::2]

print (part1)
print (part2)
print (alternative)

Python
Programming
PtoPormig

## Given a list of numbers, use an if condition inside a loop to remove all even numbers.

In [35]:
op = [34, 67, 89, 88, 100, 105]
op = [x for x in op if x % 2 != 0]
op

[67, 89, 105]

## Given a string, count the number of vowels (a, e, i, o, u). If the count is greater than 5, print "Lots of vowels", else print "Few vowels".

In [37]:
op = "python ki maakicu"
count = 0

for i in op:
    if i.lower() in "aeiou":
        count += 1

if count > 5 :
    print ("Lots of vowels !")
else :
    print ("Few vowels")

Lots of vowels !

## Take two strings as input. If they contain the same characters in a different order, print "Anagrams", otherwise print "Not anagrams".

In [45]:
op = "python ki maakichu"
topi = "maakichu ki python"

op_clean = op.replace(" ", "")
topi_clean = topi.replace(" ", "")

sorted_op = sorted(op_clean)
sorted_topi = sorted(topi_clean)

if sorted_op == sorted_topi:
    print ("Yes it is anagram")
else :
    print ("no it is not")

Yes it is anagram

## Find Common Elements Between List and Tuple Using a Set

In [46]:
op = [89, 90, 100, 78]
topi = (45, 67, 89, 100)

common = set(op).intersection(set(topi))
print (common)

{89, 100}

## Find Elements in a Tuple That Are Not in a List Using a Set

In [47]:
op = [89, 90, 100, 78]
topi = (45, 67, 89, 100)

print(set(topi) - set(op))

{67, 45}

## Sort a List, convert to a Tuple, and Find Unique Elements Using a Set

In [56]:
op = [89, 90, 90, 100, 78, 100]
sorted_op = sorted(op)
topi = tuple(sorted_op)
setu = set(topi)

print (setu)

{89, 90, 100, 78}

## Sort a List of Tuples Based on the Second Element and Remove Duplicates

In [61]:
op= [(3,1), (3,1), (7,8), (9,1), (6,7), (6,7)]
topi = list(set(op))

topi.sort(key = lambda x: x[1])
print (topi)

[(3, 1), (9, 1), (6, 7), (7, 8)]

## Merge Two Lists, Keep Unique Elements, and Convert to a Tuple

In [66]:
op = [89, 90, 90, 100, 78, 100]
topi = [34, 67, 89, 88, 100, 105]

op.extend(topi)
mergesh = tuple(set(op))
print (mergesh)

(34, 67, 100, 105, 78, 88, 89, 90)

## Reverse a Tuple Using a For Loop

In [67]:
op = (89, 90, 90, 100, 78, 100)
print (op[::-1])

(100, 78, 100, 90, 90, 89)

## Write a function that takes a list of numbers and returns the sum of all elements using a for loop.

In [68]:
def sum (op):
    sum = 0
    for i in op:
        sum += i

    return sum

op = [1, 4, 6, 10]
sum(op)

21

## Write a function that removes all duplicate elements from a list using a while loop.

In [69]:
def remove_duplicates(lst):
    unique = []
    i = 0
    while i < len(lst):
        if lst[i] not in unique:
            unique.append(lst[i])
        i += 1
    return unique

# Example usage:
my_list = [1, 2, 3, 2, 4, 1, 5, 3]
result = remove_duplicates(my_list)
print("List after removing duplicates:", result)

List after removing duplicates: [1, 2, 3, 4, 5]

## Write a function to find the maximum number in a list using a for loop.

In [70]:
def find_maximum(lst):
    if not lst:
        return None  # Return None for an empty list

    max_num = lst[0]
    for num in lst:
        if num > max_num:
            max_num = num
    return max_num

# Example usage:
my_list = [23, 45, 12, 67, 34]
result = find_maximum(my_list)
print("Maximum number is:", result)

Maximum number is: 67

## Implement a function that checks if a given element exists in a list using a while loop.

In [71]:
def element_exists(lst, target):
    i = 0
    while i < len(lst):
        if lst[i] == target:
            return True
        i += 1
    return False

# Example usage:
my_list = [10, 20, 30, 40, 50]
element = 30

if element_exists(my_list, element):
    print(f"{element} exists in the list.")
else:
    print(f"{element} does not exist in the list.")

30 exists in the list.

## Write a function that takes a tuple of numbers and returns a new tuple with only even numbers.

In [72]:
def filter_even_numbers(tup):
    even_numbers = ()
    for num in tup:
        if num % 2 == 0:
            even_numbers += (num,)
    return even_numbers

# Example usage:
numbers = (10, 15, 22, 33, 42, 55)
result = filter_even_numbers(numbers)
print("Even numbers tuple:", result)

Even numbers tuple: (10, 22, 42)

## Write a function that finds the index of a given element in a tuple using a for loop.

In [73]:
def find_index(tup, target):
    for i in range(len(tup)):
        if tup[i] == target:
            return i
    return -1  # return -1 if not found

# Example usage:
numbers = (10, 20, 30, 40, 50)
element = 30

index = find_index(numbers, element)
if index != -1:
    print(f"Element {element} found at index {index}.")
else:
    print(f"Element {element} not found.")

Element 30 found at index 2.

## Create a function that converts a tuple of numbers into a list, modifies it, and returns the new tuple.

In [74]:
def modify_and_return_tuple(tup):
    num_list = list(tup)  # Convert tuple to list

    # Modify the list (e.g., add 10 to each number)
    for i in range(len(num_list)):
        num_list[i] += 10

    return tuple(num_list)  # Convert back to tuple and return

# Example usage:
original_tuple = (1, 2, 3, 4)
new_tuple = modify_and_return_tuple(original_tuple)

print("Original Tuple:", original_tuple)
print("Modified Tuple:", new_tuple)

Original Tuple: (1, 2, 3, 4)
Modified Tuple: (11, 12, 13, 14)

## Implement a function to merge two tuples using a for loop.

In [75]:
def merge_tuples(tup1, tup2):
    merged_list = []

    for item in tup1:
        merged_list.append(item)
    for item in tup2:
        merged_list.append(item)

    return tuple(merged_list)

# Example usage:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
result = merge_tuples(tuple1, tuple2)

print("Merged Tuple:", result)

Merged Tuple: (1, 2, 3, 4, 5, 6)

## Write a function to check if all elements of one set exist in another set using a loop.

In [76]:
def is_subset(set1, set2):
    for item in set1:
        if item not in set2:
            return False
    return True

# Example usage:
a = {1, 2, 3}
b = {1, 2, 3, 4, 5}

print("Is a subset:", is_subset(a, b))  # Output: True

Is a subset: True

## Emplement a function that finds the difference between two sets without using built-in methods.

In [77]:
def set_difference(set1, set2):
    diff = set()
    for item in set1:
        if item not in set2:
            diff.add(item)
    return diff

# Example usage:
a = {1, 2, 3, 4, 5}
b = {3, 4, 6}

print("Difference:", set_difference(a, b))  # Output: {1, 2, 5}

Difference: {1, 2, 5}

## Write a function that converts a set to a list and returns the sorted list using a for loop.

In [78]:
def set_to_sorted_list(s):
    lst = list(s)  # Convert set to list

    # Simple bubble sort using for loops
    n = len(lst)
    for i in range(n):
        for j in range(0, n - i - 1):
            if lst[j] > lst[j + 1]:
                lst[j], lst[j + 1] = lst[j + 1], lst[j]  # Swap

    return lst

# Example usage:
my_set = {5, 3, 8, 1, 2}
sorted_list = set_to_sorted_list(my_set)

print("Sorted List:", sorted_list)

Sorted List: [1, 2, 3, 5, 8]

## Write a function that takes a dictionary and returns a list of all its keys using a loop.

In [79]:
def get_keys(dic):
    keys_list = []
    for key in dic:
        keys_list.append(key)
    return keys_list

# Example usage:
my_dict = {'a': 1, 'b': 2, 'c': 3}
keys = get_keys(my_dict)
print(keys)

['a', 'b', 'c']

## Create a function that finds the key with the highest value in a dictionary.

In [80]:
def key_with_max_value(dic):
    max_key = None
    max_value = float('-inf')  # Initialize to very small number
    
    for key, value in dic.items():
        if value > max_value:
            max_value = value
            max_key = key
    
    return max_key

# Example usage:
my_dict = {'a': 10, 'b': 25, 'c': 17}
print(key_with_max_value(my_dict))  # Output: b

b

## Implement a function that counts occurrences of each word in a list and stores them in a dictionary.

In [81]:
def count_words(word_list):
    counts = {}
    for word in word_list:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1
    return counts

# Example usage:
words = ["apple", "banana", "apple", "orange", "banana", "apple"]
print(count_words(words))

{'apple': 3, 'banana': 2, 'orange': 1}

## Write a function that removes dictionary entries where values are less than a given threshold using a while loop.

In [82]:
def remove_below_threshold(dic, threshold):
    keys = list(dic.keys())  # Get list of keys to iterate safely
    i = 0
    while i < len(keys):
        key = keys[i]
        if dic[key] < threshold:
            del dic[key]
            # Since we deleted a key, the dictionary shrinks; update keys list
            keys = list(dic.keys())
            # Do not increment i because keys shifted left
        else:
            i += 1
    return dic

# Example usage:
my_dict = {'a': 5, 'b': 10, 'c': 3, 'd': 8}
print(remove_below_threshold(my_dict, 6))

{'b': 10, 'd': 8}

## Write a function that reverses keys and values in a dictionary using a for loop.

In [83]:
def reverse_dict(d):
    reversed_dict = {}
    for key, value in d.items():
        reversed_dict[value] = key
    return reversed_dict

# Example usage:
original = {'a': 1, 'b': 2, 'c': 3}
print(reverse_dict(original))  # Output: {1: 'a', 2: 'b', 3: 'c'}

{1: 'a', 2: 'b', 3: 'c'}